<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/stylesheets/paint.css">
    <title></title>
</head>
<nav>
    <a href="/main_paint" title="На главную страницу" id="logo">Библиотека</a>
    <input type="text" class="field" placeholder="Поиск по каталогу"/>
    <span id="schedule"><a href="">Контакты|График работы</a></span>
    <span id="clientName"><a href="">{{reader.Name}}</a></span>
    <span id="clientPhone"><a href="">{{reader.PhoneNumber}}</a></span>
    <span id="clientСardNumber"><a href="">{{reader.LibraryСardNumber}}</a></span>
</nav>
</html>