<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentification</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/registr.css">
</head>
<body>
<form action="/authentification_icon" method="post">
    <div class="container">
        <h1>Вход</h1>
        <hr>

        <label for="log"><b>Логин</b></label>
        <input type="text" name="log" id="log" placeholder="Введите логин">

        <label for="psw"><b>Пароль</b></label>
        <input type="password" name="psw" id="psw" placeholder="Введите пароль" required>

        <div class="buttons">
           <input type="submit" class="signupbtn" placeholder="Войти" id="sub"/>
        </div>
    </div>
</form>
</body>
</html>