<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contacts</title>
</head>
<body action="/contacts"  method="get" bgcolor="#c0c0c0">

<h1 align="center">Контакты библиотеки OfflineLib</h1>

<h3 align="left">Дирекция (зал №12)</h3>
<p>Телефон: +7 (499) 550-04-70</p>
<p>e-mail: nbros@rsl.ru</p>
<p>Адрес: город К., ул. Космонавтов, 131</p>

<h3 align="left">Справочная OfflineLib (зал №13)</h3>
<p>Телефон: +7 (499) 550-04-70</p>
<p>e-mail: nbros@rsl.ru</p>
<p>Адрес: город К., ул. Космонавтов, 131</p>

<h3 align="left">Залы электронных ресурсов (залы № 1-3)</h3>
<p>Телефон: +7 (499) 550-04-70</p>
<p>e-mail: nbros@rsl.ru</p>
<p>Адрес: город К., ул. Космонавтов, 131</p>

<h3 align="left">Интернет-зал (залы № 4-5).</h3>
<p>Телефон: +7 (499) 550-04-70</p>
<p>e-mail: nbros@rsl.ru</p>
<p>Адрес: город К., ул. Космонавтов, 131</p>

<h3 align="left">Читальный зал новых поступлений отечественных, иностранных книг, продолжающихся изданий и микроформ (зал № 6-10).</h3>
<p>Телефон: +7 (499) 550-04-70</p>
<p>e-mail: nbros@rsl.ru</p>
<p>Адрес: город К., ул. Космонавтов, 131</p>

<h3 align="left">Зал-лекториум (зал № 11).</h3>
<p>Телефон: +7 (499) 550-04-70</p>
<p>e-mail: nbros@rsl.ru</p>
<p>Адрес: город К., ул. Космонавтов, 131</p>
</body>
</html>