<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/stylesheets/paint.css">
    <title>libHistory</title>
</head>
<body action="/libHistory"  method="get" bgcolor="#c0c0c0">
<h1 align="center">История OfflineLib</h1>
<p>OfflineLib был создан 17 декабря 2000 года. На сегодняшний день это одна из самых комфортных и посещаемых библиотек города К.
В ней имеется все, что нужно для вашей работы и учебы.</p>

<h1 align="left">Для чего нужен OfflineLib?</h1>
<p>OfflineLib - это не просто библиотека с современными, одиннадцатью оборудованными залами для читателей, но и среда, которая способствует
развитию креативных мыслей.     Место, где можно как собраться группой с книгами или учебниками и обсудить важные темы, так и уединиться
в укромном местечке.</p>
<p>OfflineLib соответствует запросам всех категоррий граждан. Для студентов - это идеальное место для продуктивных занятий
и поиска необходимой литературы, как научной, так классической и современной. Также Вам представлена возможность аренды помещения
для проведения лекций и вебинаров, либо для их посещения.</p>
<p>Если у Вас есть трудности с доступом в Интернет, то мы ждем Вас!</p>
<p>Наши сотрудники всегда помогают читателям разрешать возникающие сложности.</p>
<p>Мы рады Вам!</p>

<img src="/4.jpeg" style="width:60%" height="60%"/>
<br>
<a id="a" href="/">На главную страницу</a>
</body>
</html>