<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Library_main_part</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/paint.css">

</head>

{{>mainMenu}}

<body action="/main_paint" method="get">

<br id="main" name="main">

{{>secondMenu}}

{{>body}}

<footer>
</footer>

</body>
</html>

