<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/registr.css">
</head>
<body>
 <form action="/registration_icon#registr" method="post" name="registr">
     <div class="container">
     <h1>Регистрация</h1>
     <hr>

     <label for="name"><b>ФИО</b></label>
     <input type="text" name="name" id="name" placeholder="Введите ФИО" required>

     <label for="phone"><b>Номер телефона</b></label>
     <input type="phone" name="phone" id="phone" placeholder="Введите телефон" required>

     <label for="datebirth"><b>Дата рождения</b></label>
     <input type="date" name="datebirth" id="datebirth" placeholder="Введите дату рождения" required>
     </br></br>
     <label for="login"><b>Логин</b></label>
     <input type="text" name="login" id="login" placeholder="Придумайте логин" required>

     <label for="address"><b>Адрес</b></label>
     <input type="text" name="login" id="login" placeholder="Введите адрес" required>

     <label for="psw"><b>Пароль</b></label>
     <input type="password" name="psw" id="psw" placeholder="Придумайте пароль" required>

     <label for="psw_repeat"><b>Повторите пароль</b></label>
     <input type="password" name="psw_repeat" id="psw_repeat" placeholder="Повторите пароль" required>

     <div class="buttons">
         <input type="submit" class="signupbtn" placeholder="Зарегистрироваться" id="sub" required>
     </div>
     </div>
 </form>
</body>
</html>