<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>uslugi</title>
</head>
<body action="/Услуги"  method="get" bgcolor="#c0c0c0">
<h1 align="center">Бесплатные услуги</h1>
<p>Предоставление полной информации о составе фондов Библиотеки и наличии в фонде конкретного документа.</p>
<p>Предоставление доступа к справочно-поисковому аппарату, базам данных, предоставление консультационной помощи в поиске и выборе источников информации, в т.ч. в режиме ONLINE на web-сайте Библиотеки (Положение).</p>
<p>Предоставление во временное пользование документов из библиотечного фонда в соответствии с правилами пользования Библиотекой.</p>
<p>Предоставление доступа к изданиям, переведенным в электронный вид, хранящимся в Библиотеке, в том числе к фонду редких книг, с учетом соблюдения требований законодательства Российской Федерации об авторских и смежных правах.</p>
<p>Предоставление доступа к удаленным электронным информационным ресурсам, включающим полнотекстовые документы, в соответствии с действующим законодательством Российской Федерации.</p>
<p>Пыполнение запросов, не требующих длительных библиографических разысканий.</p>
<p>Пользование бесплатным wi-fi и рабочим пространством библиотеки, в т.ч. компьютерами.</p>


<h1 align="center">Платные услуги</h1>
<p>Предоставление читального зала для проведения культурных мероприятий</p>
<p>Сдача в аренду коллекционных книг</p>

<a id="a" href="/">На главную страницу</a>
</body>
</html>